# For providers
LINODE_TOKEN=
OP_ACCOUNT=

# For backend
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# For code
TF_VAR_domain_apex=
TF_VAR_soa_email=
TF_VAR_firewalla_address=
TF_VAR_admin_username=
TF_VAR_dropshare_username=
TF_VAR_longview_api_key=
